.icon {
    width: 20px;
    height: 20px;
}

#card * {
    max-width: 100%;
    max-height: 100%;
}

.gap {
    gap: 8px;
}

blockquote {
    border-left: 5px solid #eee;
    padding-left: 10px;
}

textarea {
    height: 260px;
}